.app {
  padding: 0 100px;
  margin: 0 auto;
}

.project_title {
  color: black;
  margin-bottom: 20px;
}

.timelog_form {
  grid-column: 3 / 3;
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.input {
  border: 1px solid gray;
  border-radius: 4px;
  height: 42px;
  display: flex;
  margin-left: 10px;
  padding: 0 15px;
  flex: 1;
  font-size: 18px;
}

.app-body {
  display: grid;
  gap: 20px;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 15px;
}

.btn {
  background: transparent;
  border: 1px solid gray;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.btn:hover {
  background-color: green;
  color: white;
}
