.project_title {
  color: red;
  margin-bottom: 20px;
}

.timelog_form {
  display: flex;
  flex-wrap: wrap;
}

.timelog_form label {
  flex: 1;
  display: flex;
}

.timelog_form label input {
  margin-left: 10px;
  padding: 10px 30px;
}

.app-body {
  display: grid;
}
